<!DOCTYPE html>

<html>

<link rel="icon" href="/img/weather.png"

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
     
</head>

<body>
    <div class="main-content">
        {{>header}}

<body>
     <img class="potrait" src="/img/me.jpg">
</body>



    </div>
    
    {{>footer}}
</body>




</html>

